<?xml version="1.0"?>

<launch>
    <!--
    <node name="ugv_waypoint.py" pkg="bebop_simulator"  type="ugv_waypoint.py" output="screen" />
    -->
    <!-- push table_description to factory and spawn robot in gazebo -->
    <node name="spawn_task1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 1.0 -y 8.0 -z 0.01 -model task_model1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 1.0 -y 11.0 -z 0.01 -model task_model2 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task3" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 1.0 -y 15.0 -z 0.01 -model task_model3 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task1_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 1.0 -y 5.0 -z 0.01 -model task_model1_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task1_2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 1.0 -y 3.0 -z 0.01 -model task_model1_2 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task4" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 4.0 -y 9.0 -z 0.01 -model task_model4 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task5" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 4.0 -y 13.0 -z 0.01 -model task_model5 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task6" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 4.0 -y 14.0 -z 0.01 -model task_model6 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task5_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 4.0 -y 2.0 -z 0.01 -model task_model5_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task6_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 4.0 -y 6.0 -z 0.01 -model task_model6_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task7" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 7.0 -y 3.0 -z 0.01 -model task_model7 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task8" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 7.0 -y 6.0 -z 0.01 -model task_model8 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task9" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 7.0 -y 13.0 -z 0.01 -model task_model9 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task8_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 9.0 -y 1.0 -z 0.01 -model task_model8_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task9_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 8.0 -y 10.0 -z 0.01 -model task_model9_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task10" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 12.0 -y 4.0 -z 0.01 -model task_model10 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task11" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 12.0 -y 7.0 -z 0.01 -model task_model11 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task12" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 12.0 -y 15.0 -z 0.01 -model task_model12 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task11_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 13.0 -y 7.0 -z 0.01 -model task_model11_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task12_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 11.0 -y 12.0 -z 0.01 -model task_model12_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task13" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 15.0 -y 4.0 -z 0.01 -model task_model13 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task14" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 15.0 -y 9.0 -z 0.01 -model task_model14 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task15" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 15.0 -y 12.0 -z 0.01 -model task_model15 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task14_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 14.0 -y 8.0 -z 0.01 -model task_model14_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task15_1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 14.0 -y 1.0 -z 0.01 -model task_model15_1 
    -file $(find gazebo_description)/models/Task/model.sdf" />

    <node name="spawn_task16" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x 0.0 -y 0.0 -z 0.01 -model task_model16 
    -file $(find gazebo_description)/models/Task/model.sdf" />
    
    

   

</launch>
